<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.doctris.care">
    <!-- Permission -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Doctris"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".ui.activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".ui.activity.HomeActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.LoginActivity"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="doctriscare.ml"
                    android:pathPrefix="/confirm-verification"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.RequestForgotActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.ForgotPasswordActivity"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="doctriscare.ml"
                    android:pathPrefix="/forgot-password"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.PatientRegisterActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.ServiceDetailsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.BlogDetailActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.BlogActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.ServiceActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.DoctorActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.DoctorDetailsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.BookingHistoryActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activity.BookingHistoryDetail"
            android:exported="false" />
    </application>

</manifest>